
<!DOCTYPE html>
<html>
  <head>

<title><Logout></title>
   
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Food By Barter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active">
          
          <a class="nav-link" href="/">Goodbye <span class="sr-only">(current)</span></a>
          </li>
        
         <li class="nav-item">
            <a class="nav-link" href="index.ejs">Home</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="footer.ejs">Logout</a>
          </li>
          
          


        </ul>
      </div>
    </nav>
    <img src="img/momlogosfinal2.png" alt ="foodbybarter" style ="width:650px; height:300px ; float:centre; margin-left:10px; margin-right:10px;"></a>

<h2> Facts on food waste in Ireland</h2>
<div class="card-body">
<p>

More than 1/3 of all food is wasted. It’s not just the food itself that goes to waste, it’s all the resources that went into making it, from water to land and labour. 
Food waste affects people, planet and profit.  
According to the Stop Food Waste website we generate at least 1 million tonnes of food waste each year here in Ireland. 
Most of us are unaware of where the food we waste actually ends up, so we don’t fully understand the direct and indirect consequence. 
The worst case is that food waste is collected and then either disposed of in landfill or incinerated. Less than half is recycled into biogas and compost, 
or reused.
 </p>
<p> Join us today, Together we can reduce food waste in Ireland. Do you have a solution ? Click on the icons below to share your views on our social media platform</p>
</div>
<p> Goodbye</p>


  </body>

 <p>Find us here</p>

    <div1 >
      
        
	<img src="img/twitter.png" alt ="Instagram" style ="width:50px; height:25px; float:centre; margin-left:50px; margin-right:20px;"></a>
        <img src="img/facebook1.png" alt ="Facebook" style ="width:50px; height:20px; float:centre; margin-left:15px; margin-right:10px;"></a>
        <img src="img/instagram2.png" alt ="twitter" style ="width:50px; height:20px; float:centre; margin-left:15px; margin-right:10px;"></a>


      </div1>
  </html>
