<!DOCTYPE html>
<html>
  <head>
    <title><Infomation></title>

    <link rel='stylesheet' href='/stylesheets/otherstyle.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </head>
  <body>    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Food By Barter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active">
          
          <a class="nav-link" href="/">Info <span class="sr-only">(current)</span></a>
          </li>
        
         <li class="nav-item">
            <a class="nav-link" href="index.ejs">Home</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="page1.ejs">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page2.ejs">Wallet</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="page3.ejs"> Contact Us </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="page5.ejs">galllery </a>
          </li> 
        </ul>
      </div>
    </nav>
    <img src="img/foodbybarterlogo.png" alt ="foodbybarter" style ="width:100px; height:100px ; float:centre; margin-left:5px; margin-right:5px;"></a>


    <h1>Welcome to Food By Barter</h1>
<img src="img/allfruits.jpg" alt ="fruitandveg" style ="width:800px; height:300px ; float:centre; margin-left:5px; margin-right:5px; "></a>



<div>
<p>Food and access to it is a basic human right however, food poverty is a reality for Irish people and it is increasingly on the rise today. 
Alot of charities have witnessed an increase in the number of people looking for help.According to Barnardos, about 30 per cent of people have 
witnessed food poverty first-hand in Ireland, with 51 per cent of parents cutting back on spending in areas like gas and electricity, transport 
and medical bills to afford food. Do you know that? Twenty-five per cent of parents worry about not being able to provide food for their children 
and 10 per cent of those looking after children skip meals in an average week so that their children don’t go without.
Lets join hands Together to stop this. Join our Community today to help feed Ireland </p>
</div>
    </body>
    </html>