
<!DOCTYPE html>
<html>
  <head>
    <title><Gallery></title>

    <link rel='stylesheet' href='/stylesheets/otherstyle.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
  </head>


<style>
    /* Make the image fully responsive */
    
    .carousel-inner img {
      width: 80%;
      height: 25%;
    }
  </style>

<body>
  
  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Food By Barter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active">
          
          <a class="nav-link" href="/">Gallery <span class="sr-only">(current)</span></a>
          </li>
        
         <li class="nav-item">
            <a class="nav-link" href="index.ejs">Home</a>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="page1.ejs">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="page2.ejs">Wallet</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="page3.ejs"> Contact Us </a>
          </li>

           <li class="nav-item">
            <a class="nav-link" href="header.ejs"> info </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="page5.ejs">galllery </a>
          </li>
          


        </ul>
      </div>
    </nav>

<div id="demo" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
     <li data-target="#demo" data-slide-to="0" class="active"></li>
       <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
           <li data-target="#demo" data-slide-to="3"></li>
              <li data-target="#demo" data-slide-to="4"></li>
                <li data-target="#demo" data-slide-to="5"></li>
                  <li data-target="#demo" data-slide-to="6"></li>
                    <li data-target="#demo" data-slide-to="7"></li>
                       <li data-target="#demo" data-slide-to="8"></li>
                         <li data-target="#demo" data-slide-to="9"></li>
                            <li data-target="#demo" data-slide-to="10"></li>
                               <li data-target="#demo" data-slide-to="11"></li>
                                 <li data-target="#demo" data-slide-to="12"></li>
                                    
</ul>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="img/Apple.jpg" alt="slide one" width="40" height="30">
    <div class="carousel-caption">
      <h3>Slide One</h3>
      <p>Description slide Apple</p>
    </div>
  
  <div class="carousel-item active">
    <img src="img/Aubergine.jpg"alt="slide two" width="40" height="30">
    <div class="carousel-caption">
      <h3>Slide Two</h3>
      <p>Description slide Aubergine</p>
    </div>
  
  <div class="carousel-item active">
    <img src="img/beetroot.jpg"alt="slide three" width="40" height="30">
    <div class="carousel-caption">
      <h3>Slide Three</h3>
      <p>Description slide beetroot</p>
    </div>

   <div class="carousel-item active">
    <img src="img/blackberry.jpg" alt="slide four" width="40" height="30">
    <div class="carousel-caption">
      <h3>Slide Four</h3>
      <p>Description blackberry</p>
    </div>
  
    <div class="carousel-item active">
    <img src="img/blueberries.jpg" alt ="slide five" width="25" height="20">
    <div class="carousel-caption">
      <h3>Slide Five</h3>
      <p>Description blueberries</p>
    </div>

    <div class="carousel-item active">
      <img src="img/carrots.jpg" alt ="slide six" width="25" height="20">
      <div class="carousel-caption">
        <h3>Slide Six</h3>
        <p>Description carrot</p>
      </div>

      <div class="carousel-item active">
        <img src="img/green apples.jpg" alt ="slide seven" width="20" height="20">
        <div class="carousel-caption">
          <h3>Slide Seven</h3>
          <p>Description green Apple</p>
        </div>

        <div class="carousel-item active">
          <img src="img/green peas.jpg" alt ="slide eight" width="20" height="20">
          <div class="carousel-caption">
            <h3>Slide eight</h3>
            <p>Description slide greenpeas</p>
          </div>

          <div class="carousel-item active">
            <img src="img/lettuce.jpg" alt ="slide nine" width="40" height="30">
            <div class="carousel-caption">
              <h3>Slide nine</h3>
              <p>Description slide lettuce</p>
            </div>

            <div class="carousel-item active">
              <img src="img/onions.jpg" alt ="slide ten" width="40" height="30">
              <div class="carousel-caption">
                <h3>Slide ten</h3>
                <p>Description slide onions</p>
              </div>
              <div class="carousel-item active">
                <img src="img/patotoes.jpg" alt ="slide eleven" width="40" height="30">
                <div class="carousel-caption">
                  <h3>Slide eleven</h3>
                  <p>Description slide potatoes</p>
                </div>
                
                  <div class="carousel-item active">
                    <img src="img/strawberry.jpg" alt ="slide twelve" width="30" height="20">
                    <div class="carousel-caption">
                      <h3>Slide twelve</h3>
                      <p>Description slide strawberry</p>
                    </div>
                  
                    
                        
                             
  </div>
</div>
<a class="carousel-control-prev" href="#demo" data-slide="prev">
  <span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
  <span class="carousel-control-next-icon"></span>
</a>
</div>
</body>
</html>



