

<!DOCTYPE html>
        <html>
           <head>
              <title>Register</title>
              <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
           </head><body>
            
            
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Food By Barter</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active">
          
          <a class="nav-link" href="/">Register <span class="sr-only">(current)</span></a>
          </li>
        
         <li class="nav-item">
            <a class="nav-link" href="index.ejs">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="page3.ejs"> Contact Us </a>
          </li>

         


  


        </ul>
      </div>
    </nav>


            <table>
             <tr>
               <td class ="label">
               <label>First Name</label>
               </td>
               <td class ="input">
               <input type ="text"></input>
               </td>
             </tr>
              <tr>
               <td class ="label">
               <label>Last Name</label>
               </td>
               <td class ="input">
               <input type ="text"></input>
               </td>
             </tr>
	     <tr>
               <td class ="label">
               <label>Age</label>
               </td>
               <td class ="input">
               <input type ="numeric"></input>
               </td>
             </tr>
	     <tr>
               <td class ="label">
               <label>Home Address</label>
               </td>
               <td class ="input">
               <input type ="text"></input>
               </td>
             </tr>
             <tr>
               <td> 
               <label>Email Address</label>
               </td>
               <td class="=input">
               <input type ="text"></input>
               </td>
             </tr>
              <tr>
               <td class ="label">
               <label>Contact Number</label>
               </td>
               <td class ="input">
               <input type ="numeric"></input>
               </td>
             </tr>
              <tr>
               <td class ="label">
               <label>Category</label>
               </td>
               <td>
               <input type ="checkbox"> Buyer</input>
               <input type ="checkbox"> Seller</input>
               </td>
             </tr>
            <tr>
               <td> 
               <label>Consent to data usage</label>

               </td>
               <td >
              <input type = "checkbox" >Yes </input>
              <input type = "checkbox" >No </input>
               </td>
            </tr>
         </table>
         <a class="btn btn-success btn-lg" href="page1.ejs" role="button">Register</a>
           </body>
           
        </html>




        